.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
        gap: 50px;
    }

    @media (min-width: @desktop-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 70px;
        row-gap: 60px;
    }
}

.form__input {
    width: 100%;
    height: 63px;
    padding: 10px 20px;

    font-family: inherit;
    font-size: 18px;
    color: #283645;

    border: 2px solid #e5e5e5;
    border-radius: 4px;

    &:hover {
        border-color: #283645;
    }

    &:active,
    &:focus-visible {
        border-color: #d22856;
        outline: none;
    }

    &:invalid {
        color: #d22856;
    }
}

.form__button {
    display: block;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;

    border: none;
    border-radius: 5px;
    background-color: #2aab6d;

    cursor: pointer;

    &:hover {
        background-color: #1c9b5e;
    }

    &:active {
        color: fade(#ffffff, 30);
    }

    &:disabled {
        background-color: #e5e5e5;
    }

    &:disabled:active {
        color: #ffffff;
    }
}

.form__full-name {
    padding: 0 20px 45px;
    width: 100%;

    @media (min-width: @tablet-width) {
        padding: 0 20px;
        order: -3;
    }

    @media (min-width: @desktop-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 0;
        padding-top: 17px;
    }
}

.form__surname,
.form__name {
    margin-bottom: 30px;

    @media (min-width: @desktop-width) {
        margin: 0;
    }
}

.surname__label,
.name__label,
.patronymic__label {
    @media (min-width: @tablet-width) {
        display: flex;
        align-items: center;
    }
}

.surname__text, 
.name__text,
.patronymic__text {
    display: block;
    padding-left: 20px;

    text-transform: uppercase;
    color: #d22856;

    @media (min-width: @tablet-width) {
        margin-right: 20px;
        padding: 0;
    }
}

.form__achievement-wrapper {
    padding: 0 20px;
    width: 100%;

    background-color: #f2f2f2;

    @media (min-width: @tablet-width) {
        background-color: #ffffff;
    }

    @media (min-width: @desktop-width) {
        grid-column: 1/3;
        padding: 0;
    }
}

.form__achievement {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    padding-bottom: 50px;

    @media (min-width: @tablet-width) {
        margin: 0;
        padding: 50px 60px;
    }
}

.achievement {
    border: none;

    @media (min-width: @tablet-width) {
        border: 2px solid #e5e5e5;
    }
}

.achievement__caption {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;

    @media (min-width: @tablet-width) {
        margin: 0;
        padding: 0 25px;
        
        & br {
            display: none;
        }
    }
}

.achievement__input-container {
    @media (min-width: @desktop-width) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 18px;
        row-gap: 60px;
    }
}

.achievement__label {
    position: relative;

    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &:last-child {
        margin: 0;
    }

    @media (min-width: @desktop-width) {
        width: 260px;
        margin: 0;
    }
}

.achievement__text {
    display: block;
    margin-left: 50px;

    font-size: 18px;
    line-height: 36px;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 35px;
        height: 35px;

        border: 2px solid #e5e5e5;
        border-radius: 5px;
        background-color: #ffffff;
    }
}

.achievement__input {
    appearance: none;
}

.achievement__input:hover ~ .achievement__text::before {
    border-color: #283645;
}

.achievement__input:active ~ .achievement__text::before {
    border-color: #d22856;
}

.achievement__input:checked ~ .achievement__text::before {
    background: #ffffff url('../img/icon-yes--pink.svg') no-repeat 50%;
}

.form__feedback-wrapper {
    width: 100%;
    padding: 0 20px;

    @media (min-width: @tablet-width) {
        order: -1;
    }

    @media (min-width: @desktop-width) {
        grid-column: 1/3;
        padding: 0;
    }
}

.form__feedback {
    width: 100%;
    margin: 40px 0;

    @media (min-width: @tablet-width) {
        margin: 0;
        padding: 40px 60px;
    }
}

.feedback {
    border: none;

    @media (min-width: @tablet-width) {
        border: 2px solid #e5e5e5;
    }
    
    @media (min-width: @desktop-width) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.feedback__caption {
    display: none;

    @media (min-width: @tablet-width) {
        display: block;
        margin: 0;
        padding: 0 25px;

        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #d22856;
    }
}

.feedback__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    &:last-child {
        margin: 0;
    }

    @media (min-width: @tablet-width) {
        position: relative;

        flex-direction: column-reverse;
    }

    @media (min-width: @desktop-width) {
        width: 45%;
        margin: 0;
    }
}

.feedback__label--number {
    @media (min-width: @tablet-width) {
         &::after {
            content: "";

            position: absolute;
            top: 2px;
            right: 2px;

            width: 59px;
            height: 59px;

            background: #e5e5e5 url('../img/icon-phone.svg') no-repeat 50%;
        }
    }
}

.feedback__label--email {
    @media (min-width: @tablet-width) {
         &::after {
            content: "";

            position: absolute;
            top: 2px;
            right: 2px;

            width: 59px;
            height: 59px;

            background: #e5e5e5 url('../img/icon-mail.svg') no-repeat 50%;
        }
    }
}

.feedback__text {
    margin-left: 20px;

    text-transform: uppercase;
    color: #d22856;

    @media (min-width: @tablet-width) {
        margin-top: 10px;
    }
}

.form__app-wrapper {
    padding: 0 20px;
    width: 100%;

    background-color: #f2f2f2;

    @media (min-width: @tablet-width) {
        background-color: #ffffff;

        order: -2;
    }

    @media (min-width: @desktop-width) {
        padding: 0;
    }
}

.form__app {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 50px;

    @media (min-width: @tablet-width) {
        margin: 0;
        padding: 60px;
        padding-top: 50px;
    }
}

.app {
    border: none;

    @media (min-width: @tablet-width) {
        border: 2px solid #e5e5e5;
    }
}

.app__caption {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;

    @media (min-width: @tablet-width) {
        margin: 0;
        padding: 0 25px;
    }
}

.app__label {
    position: relative;

    display: block;
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;

    &:last-child {
        margin: 0;
    }
}

.app__text {
    margin-left: 50px;

    font-size: 18px;
    line-height: 36px;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 37px;
        height: 37px;

        border: 2px solid #e5e5e5;
        border-radius: 50%;
        background-color: #ffffff;
    }
}

.app__input {
    appearance: none;
}

.app__input:hover ~ .app__text::before {
    border-color: #283645;
}

.app__input:active ~ .app__text::before {
    border-color: #d22856;
}

.app__input:checked ~ .app__text::before {
    background: #ffffff url('../img/icon-map-marker.svg') no-repeat 50%/contain;
}

.form__message-wrapper {
    padding: 0 20px;
    width: 100%;

    @media (min-width: @desktop-width) {
        grid-column: 1/3;
        padding: 0;
    }
}

.form__message {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 50px;

    @media (min-width: @tablet-width) {
        margin: 0;
        padding: 40px 60px 50px;
    }
}

.message {
    border: none;

    @media (min-width: @tablet-width) {
        border: 2px solid #e5e5e5;
    }
}

.message__caption {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;

    @media (min-width: @tablet-width) {
        margin: 0;
        padding: 0 25px;
    }
}

.message__input {
    height: 200px;

    resize: none;

    @media (min-width: @desktop-width) {
        height: 124px;
    }
}

.form__submit-panel {
    padding: 0 20px;
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    @media (min-width: @desktop-width) {
        grid-column: 1/3;
        padding: 0;
    }
}

.panel__button {
    width: 280px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 40px;

    @media (min-width: @tablet-width) {
        margin: 0;
        width: 300px;
    }
}

.panel__message {
    margin: 0;

    text-transform: uppercase;
    text-align: center;
}

.panel__important {
    color: #d22856;
}









